div {
  font-family: "NunitoSans";
}

@media screen and (max-width: 768px) {
 .name{
  font-size: 42px !important;
 }
}

.name {
  position: absolute;
  top: 0;
  left: 0;
  height: 8%;
  margin: 20px;
  font-size: 64px;
  margin-bottom: 0;
  margin-top: 20px;
}

.job {
  position: absolute;
  top: calc(8% + 40px);
  left: 0;
  margin: 20px;
  font-size: 32px;
}

/* Light mode styles */
.light-mode {
  background-color: #ffffff;
  color: #000000;
}

/* Dark mode styles */
.dark-mode {
  background-color: #121212;
  color: #ffffff;
}
  