div {
  font-family: "NunitoSans";
}

@media only screen and (max-width: 768px) {
  div {
    display: block;
    position: static;
    margin: 10px;
    font-size: 24px;
  }

  div:last-child {
    margin-top: 40px;
  }
}

.name {
    position: absolute;
    top: 0;
    left: 0;
    height: 8%;
    margin: 20px;
    font-size: 64px;
    margin-bottom: 0;
    margin-top: 20px;
  }
  
  .job {
    position: absolute;
    top: calc(8% + 40px);
    left: 0;
    margin: 20px;
    font-size: 32px;
  }

/* Light mode styles */
body {
    background-color: #ffffff;
    color: #000000;
  }
  
  /* Dark mode styles */
  body.dark-mode {
    background-color: #121212;
    color: #ffffff;
  }
  